// Fonts

$proximalight: "Proxima N W01 Light";
$proximamedium: "Proxima Nova W01 Medium";
$proximareg: "Proxima N W01 Reg";
$proximasemibold: "Proxima N W01 Smbd";
$proximabold: "Proxima N W01 Bold";
$proximablack: "Proxima N W01 Black";


$playfairitalic: 'PlayfairDisplay-Italic';
$playfairbolditalic: 'PlayfairDisplay-BoldItalic';
$playfairblackitalic: 'PlayfairDisplay-BlackItalic';
$playfairregular: 'PlayfairDisplay-Regular';
$playfairbold: 'PlayfairDisplay-Bold';
$playfairblack: 'PlayfairDisplay-Black';



// Colors 


$black: #060606;
$blue: #193cc9;
$purple: #b51ac9;
$bodycolor: #0a0607;