// Variables
@import "variables";


* {margin:0;padding:0;outline: none;}


a {outline: none;}
a img {border:none}

textarea { resize: none;}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


html {-webkit-text-size-adjust: 100%;} /* Disables scaling on landscape mobile */


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
	counter-reset: my-awesome-counter;
}


body img.gform_ajax_spinner {
    display: none!important;
}


header, section, nav, footer {
	display: block;
}


/* Slider */
.slick-slider
{
    position: relative;
		display: block;
    box-sizing: border-box;
		-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



/* Slider */
.slick-loading .slick-list
{
   
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('js/slick/slick/fonts/slick.eot');
    src: url('js/slick/slick//fonts/slick.eot?#iefix') format('embedded-opentype'), url('js/slick/slick//fonts/slick.woff') format('woff'), url('js/slick/slick//fonts/slick.ttf') format('truetype'), url('js/slick/slick//fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.gradient_preload {
	position:absolute;
	top:0;
	left:0;
}




/* Header */




header.show_bg {
	background: $blue;
}



header {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index:50;
	background: transparent;
	transition: all .2s ease-in-out;
	&:after {
		content:"";
		width:100%;
		height:1px;
		background:#fff;
		display: block;
		opacity: 0.4;
		
	}
	.inner_header {
		max-width:2000px;
		margin:0 auto;
		padding:0 1% 0 2%;
		width:100%;
		display: flex;
		flex-direction: row;
		height:103px;
	}
}


.logo_wrapper {
	width:405px;
	margin-top:40px;
	height:30px;
	margin-right:50px;
	a {
		svg#logo-m {
			display: none;
		}
		svg {
			max-width:100%;
			height:auto;
		}
	}
}




/* Nav */


nav {
	flex-grow:1;
	padding:50px 3% 0 0%;
	display: block;
	display:block;
	.menu-header {
		position: relative;
	}
	ul {
		list-style: none;
		margin:0;
 		
 		
		li {
			a {
				text-decoration: none;
			}
		}
	}
	ul.menu {
		font-family: $proximasemibold;
		text-transform: uppercase;
		display:flex;
		justify-content:space-between;
		width:100%;
		max-width: 888px;
		float:right;
		position: relative;
		z-index:10;
		> li.current-menu-ancestor {
			&:after {
				content:"";
				width:100%;
				height:4px;
				background: $purple;
				border:1px solid #fff;
				position:absolute !important;
				top:52px;
				left:0;
				opacity: 1;
			}
		}
		> li.menu-item-has-children {
				> a {
					&:after {
					content:'';
					width:15px;
					height: 8px;
					display: inline-block;
					background: url(images/header_nav_arrow.svg) top left no-repeat;
					position: relative;
					left:3px;
				}
				
			}
				
		}
		
		> li:hover {
			&:after {
				content:"";
				width:100%;
				height:4px;
				background: $purple;
				border:1px solid #fff;
				position:absolute !important;
				top:52px;
				left:0;
				opacity: 1;
			}
			> ul.sub-menu {
					
					> li.menu-item-has-children {
						 > a:after {
							 	background:transparent;
						 }
						 > a:hover:after {
							 
								 background: transparent !important;
							
						 }
					}
			}
		}
		> li.current-menu-item {
			&:after {
				content:"";
				width:100%;
				height:4px;
				background: $purple;
				border:1px solid #fff;
				position:absolute !important;
				top:52px;
				left:0;
				opacity: 1;
				transition: all .3s ease-in-out;
			}
		}
		> li {
			font-size:14px;
			letter-spacing: 2px;
			position: relative;
			&:after {
				content:"";
				width:100%;
				height:4px;
				background: $purple;
				border:1px solid #fff;
				position:absolute !important;
				top:52px;
				left:0;
				opacity: 0;
				transition: all .3s ease-in-out;
			}
			> a {
					color:#fff;
					padding-bottom: 33px;
					cursor: pointer;
			}
			> ul.sub-menu.open {
						opacity: 1;
						visibility: visible;
						top:50px;
				}
			> ul.sub-menu {
					position: absolute;
					top:30px;
					left:-5px;
					
					opacity: 0;
					visibility: hidden;
					background: #fff;
					text-transform: capitalize;
					transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
					transition-delay: 200ms;
					z-index:10;
			> li:last-of-type {
				> a {
					border:none;	
				}
			}
			> li.current-menu-item {
				> a {
						background: $purple;
						color:#fff;
				}
			}
			> li {
					font-size:15px;
					font-family: $playfairregular;
					text-transform: normal;
					width:265px;
					
					> a {
						color:$bodycolor;
						letter-spacing: 0.5px;
						display: block;
						padding:13px 25px;
						border-bottom:1px solid #d1d1d1;
						transition: all .2s ease-in-out;
						
						&:hover {
							background: $purple;
							color:#fff;
						}
					}
				}
			}
		}
	}

}




#current_tracker {
	width:50px;
	height:4px;
	background: $purple;
	border:1px solid #fff;
	position:absolute !important;
	top:52px;
	left:0;
	
}



/* Tel */



a.tel {
	font-size:37px;
	font-family: $proximalight;
	color:#fff;
	text-decoration: none;
	letter-spacing: 2.6px;
	width:310px;
	display: block;
	margin-top:30px;
}



/* Mobile Menu */

.mobile_menu {
	display: none;
}


a.button_wrapper {
	background: #fff;
	padding:9px;
	display: inline-block;
	text-decoration: none;
	color:$blue;
	margin-left:20px;
	.gradient_bg {
		
		padding:1px;
		
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#193cc9+0,ba19c9+100 */
		background: #193cc9; /* Old browsers */
		background: -moz-linear-gradient(left, #193cc9 0%, #ba19c9 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #193cc9 0%,#ba19c9 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #193cc9 0%,#ba19c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193cc9', endColorstr='#ba19c9',GradientType=1 ); /* IE6-9 */
		.inner_button {
			background: #fff;
			padding:18px 30px;
			font-family: $proximabold;
			text-transform: uppercase;
			font-size:18px;
			transition: all .2s ease-in-out;
			span {
				transition: all .2s ease-in-out;
				letter-spacing: 3.5px;
				
				background-image: -moz-linear-gradient( 360deg, $blue 0%, $purple 100%) !important;
				background-image: -webkit-linear-gradient( 360deg, $blue 0%, $purple 100%) !important;
				background-image: -ms-linear-gradient( 360deg, $blue 0%, $purple 100%) !important;
				-webkit-background-clip: text !important;
				-webkit-text-fill-color: transparent !important;
			}
			
		}
	}
}

a.button_wrapper:hover {
	color:#fff;
	.gradient_bg {
		.inner_button {
			background: transparent;
			span {
				background-image: -moz-linear-gradient( 360deg, #fff 0%, #fff 100%) !important;
				background-image: -webkit-linear-gradient( 360deg, #fff 0%, #fff 100%) !important;
				background-image: -ms-linear-gradient( 360deg, #fff 0%, #fff 100%) !important;
			}
		}
	}
}


a.request_button {
	margin: 40px 87px 0;
	position: relative;
	z-index:10;
}


/* Profile */
 
 
 body.page-template-page-attorney {
 
 .sidebar_inner {
	 text-align: center;
	 padding: 59px 0 37px;
	 img.profile_pic {
		 display: inline-block;
		 vertical-align: top;
		 width:100%;
		 max-width:334px;
	 }
	 
	 .video_wrapper {
	  	max-width:334px;
			width:100%;
			margin:27px auto;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				.play_button {
						&:before {
						 transform:rotate(-45deg) translateX(0px) translateY(-70px);
						}
					} 
		}
	 .video_title {
		 width:calc(100% - 90px);
		 float:left;
		 color:#fff;
		 font-family: $playfairbold;
		 font-size:20px;
		 padding:17px 0 0;
		 height: 67px;
		 letter-spacing: 1.7px;
		 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba19c9+2,193cc9+100 */
		 background: #ba19c9; /* Old browsers */
		 background: -moz-linear-gradient(left, #ba19c9 2%, #193cc9 100%); /* FF3.6-15 */
		 background: -webkit-linear-gradient(left, #ba19c9 2%,#193cc9 100%); /* Chrome10-25,Safari5.1-6 */
		 background: linear-gradient(to right, #ba19c9 2%,#193cc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba19c9', endColorstr='#193cc9',GradientType=1 ); /* IE6-9 */
	 }
	 .play_button {
		 
			 background: #060606;
			 width:90px;
			 display: block;
			 height: 67px;
			 float:right;
			 transition: all .5s ease-in-out;
			 position: relative;
 			 overflow: hidden;
			 &:before {
				 content:"";
				 width:200px;
				 height:200px;
				 background:$purple;
				 display: block;
				 transform: rotate(-45deg) translateX(8px) translateY(-245px);
				 position: absolute;
				 top:0;
				 left:0;
				 transition: all .4s ease-in-out;
			 }
			 span.tri {
				 width: 0; 
				 height: 0; 
				 border-top: 10px solid transparent;
				 border-bottom: 10px solid transparent;
				 border-left: 15px solid #fff;
				 display: block;
				 margin:23px auto 0;
				 position: relative;
				 z-index:9;
			 }
		 
	 }
 }
 }
 
 
 .email_vcard_wrapper {
	 width:89%;
	 float:right;
	 margin-top:-15px;
	.profile_link {
		font-size:25px;
		font-family: $playfairbold;
		text-transform: uppercase;
		letter-spacing: 2px;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		width:48%;
		padding:24px 0;
		text-align: center;
		display: block;
		text-decoration: none;
		color:$blue;
		background: #fff;
		transition: all .4s ease-in-out;
		&:hover {
			 background:$blue;
			 color:#fff;
		 }
	}
	 .email_profile {
		 float:left;
		}
	 .vcard_profile {
		 float:right;
	 }
 }
 

 
 
 
 
 
 
 
 
.tablet_profile_wrapper {
 float:left;
 width: 500px;
 display: none;
 .tablet_profile_inner {
	 text-align: center;
	 padding:59px 0;
	 background:#fff;
	 box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
	
	 img.profile_pic {
		 display: inline-block;
		 vertical-align: top;
		 width:100%;
		 max-width:334px;
	 }
	 .video_wrapper {
	  	max-width:334px;
			width:100%;
			margin:27px auto;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				.play_button {
						&:before {
						 transform:rotate(-45deg) translateX(0px) translateY(-70px);
						}
					} 
		}
	 .video_title {
		 width:calc(100% - 90px);
		 float:left;
		 color:#fff;
		 font-family: $playfairbold;
		 font-size:20px;
		 padding:17px 0 0;
		 height: 67px;
		 letter-spacing: 1.7px;
		 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba19c9+2,193cc9+100 */
		 background: #ba19c9; /* Old browsers */
		 background: -moz-linear-gradient(left, #ba19c9 2%, #193cc9 100%); /* FF3.6-15 */
		 background: -webkit-linear-gradient(left, #ba19c9 2%,#193cc9 100%); /* Chrome10-25,Safari5.1-6 */
		 background: linear-gradient(to right, #ba19c9 2%,#193cc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba19c9', endColorstr='#193cc9',GradientType=1 ); /* IE6-9 */
	 }
	 .play_button {
		 
			 background: #060606;
			 width:90px;
			 display: block;
			 height: 67px;
			 float:right;
			 transition: all .5s ease-in-out;
			 position: relative;
 			 overflow: hidden;
			 &:before {
				 content:"";
				 width:200px;
				 height:200px;
				 background:$purple;
				 display: block;
				 transform: rotate(-45deg) translateX(8px) translateY(-245px);
				 position: absolute;
				 top:0;
				 left:0;
				 transition: all .4s ease-in-out;
			 }
			 span.tri {
				 width: 0; 
				 height: 0; 
				 border-top: 10px solid transparent;
				 border-bottom: 10px solid transparent;
				 border-left: 15px solid #fff;
				 display: block;
				 margin:23px auto 0;
				 position: relative;
				 z-index:20;
			 }
		 
	 }
 }
 
  }
 
 
 .email_vcard_wrapper_tablet {
	 width:89%;
	 float:right;
	 margin-top:15px;
	.profile_link {
		font-size:25px;
		font-family: $playfairbold;
		text-transform: uppercase;
		letter-spacing: 2px;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		width:48%;
		padding:24px 0;
		text-align: center;
		display: block;
		text-decoration: none;
		background: #fff;
		color:$blue;
		transition: all .2s ease-in-out;
		&:hover {
			background: $blue;
			color:#fff;
		}
	}
	 .email_profile {
			float:left;
	 }
	 .vcard_profile {
		 float:right;
	 }
 }
 
 }
 
 

 }
 
 
/* Sidebar */

.sidebar_wrapper {
 		width:534px;
	 float:right;
	 margin-bottom:160px;
	 .sidebar_inner {
		 background:#fff;
		 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		 width:89%;
		 float:right;
		 margin-bottom:40px;
		 h3 {
			 display: none;
		 }
		 
		 span.sidebar_title {
			 margin-top:55px;
			 display: block;
			 padding:20px 40px;
			 color:#fff;
			 font-size: 20px;
			 font-family: $playfairbold;
			 letter-spacing: 1.7px;
			 display: inline-block;
			 margin-left:-13%;
			 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba19c9+0,193cc9+100 */
			 background: #ba19c9; /* Old browsers */
			 background: -moz-linear-gradient(left, #ba19c9 0%, #193cc9 100%); /* FF3.6-15 */
			 background: -webkit-linear-gradient(left, #ba19c9 0%,#193cc9 100%); /* Chrome10-25,Safari5.1-6 */
			 background: linear-gradient(to right, #ba19c9 0%,#193cc9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba19c9', endColorstr='#193cc9',GradientType=1 ); /* IE6-9 */
		 }
		 
			
			.recent_posts_sidebar {
				
			}
			
			
			ul {
				list-style: none;
				margin:15px 0 0 0;
				padding-left:10%;
				padding-bottom:45px;
				li.current_page_item {
					a {
						color:$blue;
					}
				}
				li {
					font-size:18px;
					text-transform: uppercase;
					font-family: $proximasemibold;
					letter-spacing: 2.2px;
					border-bottom: 1px solid #e1e1e4;
					line-height: 21px;
					&:last-of-type {
						border-bottom: none;
					}
					a {
						text-decoration: none;
						color:#000;
						display: block;
						padding: 22px;
						transition: all .2s ease-in-out;
						&:hover {
							color:$blue;
						}
					}
				}
			}
	 }
 }


