.tel_main {
  display: none;
}

a.button_wrapper {
  background-color: rgb(255, 255, 255);
  padding: 9px;
  display: inline-block;
  text-decoration: none;
  color: rgb(25, 60, 201);
  margin-left: 20px;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  color: #193cc9;
}

a.button_wrapper .gradient_bg {
  padding: 1px;
  background-image: linear-gradient(to right, rgb(25, 60, 201) 0%, rgb(186, 25, 201) 100%);
  background-position: initial initial;
  background-repeat: initial initial;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#193cc9+0,ba19c9+100 */
  background: #193cc9;
  background: -webkit-linear-gradient(left, #193cc9 0%, #ba19c9 100%);
  background: linear-gradient(to right, #193cc9 0%, #ba19c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193cc9', endColorstr='#ba19c9',GradientType=1 );
}

a.button_wrapper .gradient_bg .inner_button {
  background-color: rgb(255, 255, 255);
  padding: 18px 30px;
  font-family: 'Proxima N W01 Bold';
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  font-family: "Proxima N W01 Bold";
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a.button_wrapper .gradient_bg .inner_button span {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  letter-spacing: 3.5px;
  background-image: -webkit-linear-gradient(360deg, rgb(25, 60, 201) 0%, rgb(181, 26, 201) 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-image: -webkit-linear-gradient(360deg, #193cc9 0%, #b51ac9 100%) !important;
  background-image: -ms-linear-gradient(360deg, #193cc9 0%, #b51ac9 100%) !important;
}

svg#global_gradient {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.request .inner_request span.large_header br.mobile {
  display: none;
}

.form_wrapper ul li label {
  display: none;
}

.single_location_wrapper span.large_header br.mobile {
  display: none;
}

.tablet_squares {
  display: none;
}

.wave_footer_wrapper .wave_set_inner_wrapper svg#mobile_waves_footer {
  display: none;
}

.inner_banner {
  width: 100%;
  height: 500px;
  /*
	 background: url(images/header-intimage.jpg) center top no-repeat;
	 background-size: cover;
*/
}

.inner_banner .inner_content {
  text-align: center;
  padding-top: 215px;
}

.inner_banner .inner_content span.large_header {
  color: rgb(255, 255, 255);
  font-family: PlayfairDisplay-Bold;
  font-size: 70px;
  text-shadow: rgba(15, 44, 161, 0.298039) 0px 1px 2px;
  display: block;
  line-height: 60px;
  margin-bottom: 5px;
  color: #fff;
  font-family: "PlayfairDisplay-Bold";
  text-shadow: 0px 1px 2px rgba(15, 44, 161, 0.3);
}

.inner_banner .inner_content span.large_header span.extra {
  margin-right: 7px;
  display: inline-block;
}

a.inner_request_wrapper {
  margin-top: 45px;
}

.inner_main {
  width: 100%;
  min-height: 600px;
  background-color: rgb(243, 243, 247);
  background-position: initial initial;
  background-repeat: initial initial;
  background: #f3f3f7;
}

.container_wrapper {
  max-width: 1697px;
  margin: 0px auto;
  padding: 115px 30px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  width: calc(100% - 534px);
  float: left;
  margin-bottom: 162px;
  padding-right: 8%;
}

.container h1.title_header {
  text-transform: uppercase;
  color: rgb(25, 60, 201);
  letter-spacing: 3px;
  font-size: 33px;
  font-family: PlayfairDisplay-Black;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  color: #193cc9;
  font-family: "PlayfairDisplay-Black";
}

.container .purple_line_wrapper {
  width: 100%;
  margin-top: 45px;
  position: relative;
  height: 5px;
  margin-bottom: 45px;
}

.container .purple_line_wrapper .purple_line {
  width: 0%;
  height: 1px;
  background-color: rgb(181, 26, 201);
  position: absolute;
  right: 0px;
  -webkit-animation: purple_line_grow 1.5s cubic-bezier(0, 0.32, 0.1, 0.97) 1.8s forwards;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #b51ac9;
  right: 0;
  -webkit-animation-name: purple_line_grow;
  animation-name: purple_line_grow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.32, 0.1, 0.97);
  animation-timing-function: cubic-bezier(0, 0.32, 0.1, 0.97);
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.container .purple_line_wrapper .purple_square {
  width: 45px;
  height: 4px;
  background-color: rgb(181, 26, 201);
  float: left;
  margin-top: -4px;
  -webkit-animation: purple_square_fadein 900ms ease 3.3s forwards;
  opacity: 0;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #b51ac9;
  -webkit-animation-name: purple_square_fadein;
  animation-name: purple_square_fadein;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.sidebar_title_wrapper {
  position: relative;
  -webkit-animation: sidebar_title 1.5s cubic-bezier(0, 0.32, 0.1, 0.97) 2s forwards;
  -webkit-transform: translateX(600px);
  -webkit-animation-name: sidebar_title;
  animation-name: sidebar_title;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0, 0.32, 0.1, 0.97);
  animation-timing-function: cubic-bezier(0, 0.32, 0.1, 0.97);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  transform: translateX(600px);
}

svg#air_sidebar {
  width: 112px;
  margin-left: 2%;
  display: inline-block;
  position: relative;
  top: 24px;
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  -webkit-animation: sidebar_air_svg 2.5s linear 2.5s both;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation-name: sidebar_air_svg;
  animation-name: sidebar_air_svg;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.sidebar_wrapper {
  width: 534px;
  float: right;
  margin-bottom: 160px;
}

.sidebar_wrapper .sidebar_inner {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px 0px;
  width: 89%;
  float: right;
  margin-bottom: 40px;
  background-position: initial initial;
  background-repeat: initial initial;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.content {
  font-size: 16px;
  font-family: PlayfairDisplay-Regular;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: "PlayfairDisplay-Regular";
}

.content p {
  margin-bottom: 28px;
}

@media screen and (max-width: 1660px) {
  .logo_wrapper {
    width: 300px;
    margin-right: 24px;
  }

  nav {
    padding: 50px 20px 0px 0px;
    padding: 50px 20px 0 0;
  }

  a.tel {
    font-size: 30px;
    margin-top: 33px;
    width: 265px;
  }
}

@media screen and (max-width: 1425px) {
  header .inner_header {
    display: block;
    padding: 0px 4.5%;
    height: 110px;
    padding: 0 4.5%;
  }

  .logo_wrapper {
    width: 390px;
    margin-top: 42px;
  }

  nav {
    width: 100%;
    padding-top: 31px;
  }

  nav ul.menu {
    max-width: 100%;
  }

  a.tel {
    position: absolute;
    top: 0px;
    right: 4.5%;
    font-size: 37px;
    width: 310px;
    margin-top: 27px;
    top: 0;
  }

  .inner_banner .inner_content {
    padding-top: 181px;
  }

  .inner_banner .inner_content span.large_header {
    max-width: 535px;
    line-height: 73px;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
  }

  a.inner_request_wrapper {
    margin-top: 28px;
  }

  .wave_footer_wrapper .wave_set_inner_wrapper svg#mobile_waves_footer {
    display: block;
    width: 2000px;
  }

  .wave_footer_wrapper .wave_set_inner_wrapper svg#mobile_waves_footer path.mobile_path {
    fill: #ffffff;
    opacity: 0.08;
    fill: #fff;
  }
}

@media screen and (min-width: 1180px) {
  nav {
    display: block !important;
  }
}

@media screen and (max-width: 1180px) {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    top: 0;
    left: 0;
  }

  header::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: block;
    opacity: 0.4;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  header .inner_header {
    padding: 0px 0px 0px 19px;
    width: 100%;
    display: -webkit-box;
    height: 101px;
    padding: 0 0 0 19px;
    display: -ms-flexbox;
    display: flex;
    /* display: block; */
  }

  .logo_wrapper {
    width: 397px;
    height: 30px;
    margin-right: 0px;
    margin-top: 35px;
  }

  nav {
    position: fixed;
    display: none;
    top: 101px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 0px;
    background-position: initial initial;
    background-repeat: initial initial;
    left: 0;
    background: #fff;
    padding: 0;
  }

  nav ul {
    line-height: 1;
  }

  nav ul li a {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 209, 209);
    background-position: initial initial;
    background-repeat: initial initial;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #d1d1d1;
  }

  nav ul.menu {
    display: block;
    text-align: center;
  }

  nav ul.menu > li.menu-item-has-children > a::after {
    content: '';
    width: 10px;
    height: 8px;
    display: inline-block;
    background-image: url(images/header_nav_arrow_purple.svg);
    position: relative;
    background-size: 10px;
    top: 1px;
    left: 7px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  nav ul.menu > li {
    font-family: PlayfairDisplay-Regular;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    font-family: "PlayfairDisplay-Regular";
  }

  nav ul.menu > li::after {
    content: '';
    display: none;
  }

  nav ul.menu > li > a {
    color: rgb(0, 0, 0);
    padding: 15px 5px;
    color: #000;
  }

  nav ul.menu > li > ul.sub-menu {
    position: static;
    margin-top: -1px;
    opacity: 0;
    visibility: visible;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(209, 209, 209);
    max-height: 0px;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    border-bottom: 1px solid #d1d1d1;
  }

  nav ul.menu > li > ul.sub-menu > li > a::after {
    background-color: transparent;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  nav ul.menu > li > ul.sub-menu > li {
    width: auto;
  }

  nav ul.menu > li > ul.sub-menu > li > a {
    display: block;
    width: 100%;
    background-color: rgb(240, 240, 240);
    background-position: initial initial;
    background-repeat: initial initial;
    background: #f0f0f0;
  }

  .tel_tablet_wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  a.tel {
    float: right;
    position: static;
    font-size: 28px;
    margin-top: 28px;
    width: auto;
    margin-right: 15px;
  }

  .mobile_menu {
    display: block;
    cursor: pointer;
    width: 85px;
    padding: 27px 21px 0px 23px;
    position: relative;
    height: 101px;
    text-align: center;
  }

  .mobile_menu::before {
    content: '';
    background-color: rgb(255, 255, 255);
    float: left;
    width: 1px;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  .mobile_menu .menu_bar {
    width: 100%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    background-position: initial initial;
    background-repeat: initial initial;
    background: #fff;
  }

  .mobile_menu .menu_bar:last-of-type {
    margin-bottom: 6px;
  }

  .mobile_menu span.menu_title {
    color: rgb(255, 255, 255);
    font-family: 'Proxima N W01 Bold';
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff;
    font-family: "Proxima N W01 Bold";
  }

  .wave_footer_wrapper .wave_set_inner_wrapper svg#mobile_waves_footer {
    left: -585px;
    position: relative;
    z-index: 8;
  }

  .inner_banner .inner_content {
    padding-top: 156px;
  }

  .container_wrapper {
    padding: 115px 30px 75px;
  }

  .container {
    width: 100%;
    float: none;
    padding-right: 0px;
    margin-bottom: 75px;
    padding-right: 0;
  }

  .container .purple_line_wrapper .purple_line {
    width: 100%;
    -webkit-animation: none;
    -webkit-animation-name: none;
    animation-name: none;
  }

  .container .purple_line_wrapper .purple_square {
    opacity: 1;
    -webkit-animation: none;
    -webkit-animation-name: none;
    animation-name: none;
  }

  .sidebar_title_wrapper {
    -webkit-animation: none;
    -webkit-transform: translateX(0px);
    -webkit-animation-name: none;
    animation-name: none;
    transform: translateX(0px);
  }

  svg#air_sidebar {
    stroke-dasharray: 0px;
    stroke-dashoffset: 0px;
    -webkit-animation: none;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    -webkit-animation-name: none;
    animation-name: none;
  }

  .sidebar_wrapper {
    width: 100%;
    float: none;
    margin-bottom: 0px;
  }

  .sidebar_wrapper .sidebar_inner {
    width: 97%;
  }
}

@media screen and (max-width: 760px) {
  body:not(.page-template-page-main) header {
    background-color: rgb(25, 60, 201);
    background-position: initial initial;
    background-repeat: initial initial;
    background: #193cc9;
  }

  header .inner_header {
    padding: 0px 0px 0px 13px;
    height: 103px;
    padding: 0 0 0 13px;
  }

  .logo_wrapper {
    width: 130px;
    margin-top: 17px;
  }

  .logo_wrapper a svg#logo-m {
    display: block;
  }

  .logo_wrapper a svg#logo {
    display: none;
  }

  nav {
    top: 104px;
  }

  .mobile_menu {
    height: 103px;
  }

  a.tel {
    display: none;
  }

  .tel_main_wrapper {
    width: 100%;
    position: absolute;
    top: 84px;
    text-align: center;
    left: 0px;
    left: 0;
  }

  .tel_main_wrapper .tel_main {
    display: inline-block;
    font-size: 30px;
    font-family: 'Proxima N W01 Light';
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 2.6px;
    width: 310px;
    margin-top: 30px;
    text-align: center;
    font-family: "Proxima N W01 Light";
    color: #fff;
  }

  .request .inner_request span.large_header br.mobile {
    display: block;
  }

  .single_location_wrapper span.large_header br.mobile {
    display: block;
  }

  .single_location_wrapper .single_location .address br {
    display: none;
  }

  .tablet_squares {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    max-width: 273px;
    display: block;
    overflow: hidden;
    padding-bottom: 25px;
  }

  .tablet_squares .tablet_offices {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Proxima N W01 Reg';
    letter-spacing: 5px;
    display: -webkit-box;
    padding: 0px;
    margin: 0px auto 20px;
    color: #fff;
    font-family: "Proxima N W01 Reg";
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 20px;
  }

  .tablet_squares .tablet_offices::before {
    content: '';
    -webkit-box-flex: 1;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 15px;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  .tablet_squares .tablet_offices::after {
    content: '';
    -webkit-box-flex: 1;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 15px;
    background-position: initial initial;
    background-repeat: initial initial;
  }

  .tablet_squares .la {
    float: left;
  }

  .tablet_squares .oc {
    float: right;
  }

  .tablet_squares .tablet_single_square {
    background-color: rgb(255, 255, 255);
    width: 117px;
    height: 77px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-position: initial initial;
    background-repeat: initial initial;
    background: #fff;
  }

  .tablet_squares .tablet_single_square span {
    position: relative;
    top: 48%;
    -webkit-transform: translateY(-50%);
    display: block;
    font-size: 30px;
    font-family: PlayfairDisplay-Bold;
    line-height: 1;
    background-image: linear-gradient(rgb(25, 60, 201) 30%, rgb(181, 26, 201) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-50%);
    font-family: "PlayfairDisplay-Bold";
    background-image: -webkit-linear-gradient(top, #193cc9 30%, #b51ac9 80%);
    background-image: linear-gradient(180deg, #193cc9 30%, #b51ac9 80%);
  }

  .tablet_squares .tablet_single_square .tri_wrapper {
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 100%;
    height: 20px;
    left: 0;
  }

  .tablet_squares .tablet_single_square .tri_wrapper .tri {
    width: 0px;
    height: 0px;
    border-left-width: 13px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 13px;
    border-right-style: solid;
    border-right-color: transparent;
    border-top-width: 13px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    display: block;
    margin: 0px auto;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid #fff;
    margin: 0 auto;
  }

  .wave_footer_wrapper .wave_set_inner_wrapper svg#mobile_waves_footer {
    left: -825px;
  }

  .inner_banner {
    display: none;
  }

  body:not(.page-template-page-main) div.tel_main_wrapper {
    background-image: url(images/mobile-banner.jpg);
    top: 90px;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
    background: url(images/mobile-banner.jpg) top left no-repeat;
  }

  body:not(.page-template-page-main) div.tel_main_wrapper a.tel_main {
    color: rgb(255, 255, 255);
    margin-top: 22px;
    margin-bottom: 13px;
    color: #fff;
  }

  .container_wrapper {
    padding: 210px 30px 30px;
  }

  .sidebar_wrapper .sidebar_inner svg#air_sidebar {
    display: none;
  }

  .content {
    line-height: 25px;
  }
}

@media screen and (max-width: 545px) {
  .sidebar_wrapper .sidebar_inner svg {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .container_wrapper {
    padding: 220px 20px 15px;
  }
}